body{
    margin: 0;
    padding: 0;
    background: url(gtr1.jpg);
    background-size: 1080px;

}
.box{
    position: absolute;
    top: 50%;
    left: 77%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 400px;
    padding: 50px;
    background: #314955;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 30px;
    
        
}
button{
    position: relative;
    text-align: center;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    color:white;
    font-weight: 400;
    font-family: "GFS Neohellenic";
    font-weight:900;
    border: 3px solid #350005;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1s;
    background: #350005;
    
    
}
button:hover{
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    text-decoration: underline;
}
.box h2{
    font-weight: bolder;
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
    font-family: "GFS Neohellenic Regular";
    font-size: 25px;
    
}
.box .inputbox{
    position: relative;
}
.box .inputbox input{
    width: 100%;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 16px;
    background: transparent;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 4px solid #350005;
    outline: none;
}
.box .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
     padding: 10px 0;
    font-size: 20px;
    color: rgb(197, 197, 197);
    pointer-events: none;
    transition: 1.5s;
    font-family: "GFS Neohellenic Regular";

}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
    top: -18px;
    left: 0px;
    color: #350005;
    font-size: 20px;
}
.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    background-color: aqua;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    
}
.x{
    font-family: "GFS Neohellenic Regular";
    font-weight:bolder;
    color: white;
    font-size: 20px;
}
.box .x a{
    text-decoration: none;
    color: #350005;
    border-radius: 25px;
    transition: 1.5s;
}
.box .x a:hover{
    text-decoration: underline;
}

