body{
    margin: 0;
    padding: 0;
    background: url(gtr2.jpg);
    background-size: 50%;

}
.box{
    position: absolute;
    top: 50%;
    left: 77%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 470px;
    padding: 50px;
    background: #314955;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 30px;
    
        
}
button{
    position: relative;
    text-align: center;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    color:white;
    font-weight: 400;
    font-family: "GFS Neohellenic";
    font-weight:900;
    border: 3px solid #FD7700;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1s;
    background: #FD7700;
    left: 25%;
    
    
}
button:hover{
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    text-decoration: underline;
}
.box h2{
    font-weight: bolder;
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
    font-family: "GFS Neohellenic Regular";
    font-size: 25px;
    
}
.box .inputbox{
    position: relative;
}
.box .inputbox input{
    width: 100%;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 16px;
    background: transparent;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 4px solid #FD7700;
    outline: none;
}
.box .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 20px;
    color: rgb(197, 197, 197);
    pointer-events: none;
    transition: 1.5s;
    font-family: "GFS Neohellenic Regular";

}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
    top: -18px;
    left: 0px;
    color: #FD7700;
    font-size: 20px;
}
.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    background-color: aqua;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    
}
.x{
    margin: 0 10 30px;
    padding: 0;
    text-align: center;
    font-family: "GFS Neohellenic Regular";
    font-weight:bolder;
    color: white;
    font-size: 20px;
}
.box .x a{
    text-decoration: none;
    color: #FD7700;
    border-radius: 25px;
    transition: 1.5s;
}
.box .x a:hover{
    text-decoration: underline;
}
.box .column{
    display: flex;
    column-gap: 25px;
}
.box .column .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 20px;
    color: rgb(197, 197, 197);
    pointer-events: none;
    transition: 1.5s;
    font-family: "GFS Neohellenic Regular";

}
.text{
    position: absolute;
    top: 50%;
    right: 57%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 300px;
    padding: 50px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 30px;
}
.text h2{
    font-weight: bolder;
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
    font-family: "GFS Neohellenic Regular";
    font-size: 25px;
    
}
.text p{
    text-align: justify;
    color: white;
}
.topnav img{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 90px;
    cursor: pointer;
}
.topnav2 img{
    position: absolute;
    top: 3%;
    right: 4%;
    width: 30px;
    height: 20px;
    cursor: pointer;
}